nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 12px 60px;
}

nav .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}