<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    {% block extra_static %}{% endblock %}

</head>
<body>
    
    {% include 'menu.html' %}

    <main>
        
        {% for message in get_flashed_messages() %}
            {% if message %}
                <div class="flash">{{ message }}</div>
            {% endif %}
        {% endfor %}
        {% block content %}{% endblock %}
        
    </main>
    
    <footer class="blog">
        <p>&copy; 2024 Meu Blog. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
